:root {
  --primary-color: #09C1E5;
  --secondary-color: #fff;
  --text-color: #000;
  --text-secondary-color: #000;
  --background-color: #ffffff;
  --modal-background-color: #ffffff;
  --border-color: #dddddd;
  --header-background-color: #f8f9fa;
  --card-background-color: #ffffff;
  --input-background-color: #f0f0f0;
  --title-font-size-: 38px;
  --subtitle-font-size-: 20px;
  --desc-font-size-: 15px;
  --btn-font-size-: 20px;
  --nav-font-size-: 22px;
}
body{
  direction: rtl;
}